@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

:root {
  --primary: #be185d;
  --secondary: #e5e7eb;
  --font-color-primary: #fff;
  --font-color-secondary: #000;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.grid-column-layout {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  column-gap: 2rem;
  row-gap: 3.5rem;
  max-width: 50rem;
  width: 100%;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .grid-column-layout {
    grid-template-columns: 1fr;
    max-width: 30rem;
  }
}
