@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

:root {
  --primary: #be185d;
  --secondary: #e5e7eb;
  --font-color-primary: #fff;
  --font-color-secondary: #000;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}


